<% @page_title = 'crushlogic | ferms' %>
<div id='title_bar'>
	<span id='title_sub'>Listing Ferms
		<%= render :partial => 'ferms_select_menu' %>
	</span>
</div>
<table>
	<tr>
		<th colspan=7, class='no_border'>&nbsp;</th>
		<th colspan=5, class='dashed_border'>Crush</th>
		<th colspan=2, class='dashed_border'>Current</th>
		<th colspan=2, class='dashed_border'>Press</th>
	</tr>
	<tr>
		<th class='thin_col'>&nbsp;</th>
		<th>Crushed</th>
		<th>Pressed</th>
		<th>Days</th>
		<th>Tank</th>
		<th>Blend</th>
		<th class='right'>Tons</th>
		<th>Brix</th>
		<th>TA</th>
		<th>pH</th>
		<th>NH<sub>3</sub></th>
		<th class='right'>Malic</th>
		<th>Brix</th>
		<th class='right'>Temp</th>
		<th>Alc</th>
		<th class='right'>RS</th>
	</tr>
	<% i = 0 %>
	<% 10.times do |f| -%>
		<tr class="hover">
			<td><%= check_box_tag false %></td>
			<td><%= link_to (Time.now.to_date + i).strftime("%m/%d/%y") %></td>
			<td></td>
			<td><a href="#">&nbsp;</a></td>
			<td><%= 1200 + i %></td>
			<td><%= link_to "8ZITEL-" + i.to_s, '/detail' %></td>
			<td><%= (rand 500.to_f) / 10.to_f %></td>
			<td><%= (rand 300.to_f + i) / 10.to_f %></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<% i += 1 %>
	<% end -%>
</table>