<ul id="nav">
	<li class="<%= controller.action_name == 'index' ? 'activelink' : '' %>"><%= link_to 'Ferms', ferms_path %></li>
	<li class="<%= controller.action_name == 'kinetics' ? 'activelink' : '' %>"><%= link_to 'Kinetics', "/kinetics" %></li>
	<li><%= link_to 'Additions', "http://google.com" %></li>
	<li><%= link_to 'Reports', "http://google.com" %></li>
</ul>