<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag "niftycube.js" %>
		<!--[if lt IE 7.]>
		<script defer type="text/javascript" src="javascripts/pngfix.js"></script>
		<![endif]-->
		<script type="text/javascript">
			window.onload=function(){
			Nifty("ul#nav a","small transparent top");
			}
		</script>
	</head>
	<body>
		<div id="banner">
			<span id="beta"><%= image_tag "beta.png" %></span>
			<span id="logo">crush<span id="logic">logic</span></span>
			<div id="menu"><%= render :partial => 'shared/menu' %></div>
			<span id="login"><%= render :partial => 'shared/login' %></span>
		</div>
		<div id="yield">
			<%= yield %>
		</div>
	</body>
</html>