<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag "niftycube.js" %>
		<script type="text/javascript">
			window.onload=function(){
			Nifty("ul#nav a","small transparent top");
			}
		</script>
	</head>
	<body>
		<div id="banner">
			<span style="width:87px;height:87px;position:absolute;top:0;left:0;display:inline-block;
			/* the height and width should match those of the image */
			filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/beta.png');
			/* apply the background image with Alpha in IE5.5/Win. The src should match that of the image */
			"><img style="
			filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
			/* make the real image fully transparent in IE5.5/Win, so the Alpha image can show through */
			" src="images/beta.png" width="87" height="87" border="0" alt=""></span>
			<!--span id="beta"><%= image_tag "beta.png" %></span-->
			<span id="logo">crush<span id="logic">logic</span></span>
			<div id="menu"><%= render :partial => 'shared/menu' %></div>
			<span id="login"><%= render :partial => 'shared/login' %></span>
		</div>
		<div id="yield">
			<%= yield %>
		</div>
	</body>
</html>